.sw2 {
  margin: 0 30px;
}
.slider {
  clip-path: inset(0px 0px 5% 0px round 10px);
  max-width: 980px;
  max-height: 420px;
}

.slider img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.swiper-pagination {
  bottom: 10% !important;
}

@media (max-width: 425px) {
    .sw2 {
        margin: 0 10px;
      } 
}
