    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "Osaka", "MS P Gothic", sans-serif;
        background: #f0f0f0;
        width: 100%;
    }
    
    .top_title {
        color: #444;
        text-align: center;
        padding-top: 85px;
        padding-bottom: 20px;
        font-size: 40px;
    }
    
    .sub_title {
        color: #444;
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }
    
    .home {
        margin: 20px;
    }
    
    .content {
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 1.6;
        width: 100%;
        word-break: break-all;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .site-footer {
        background: #444;
        padding: 20px;
    }
    
    .contact {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    
    @media (min-width: 860px) {
        /* 横幅が830px以上の場合に適用するスタイル */
        .sp {
            display: none;
        }
    }
    
    @media (max-width: 859px) {
        /* 横幅が829px以下の場合に適用するスタイル */
        .top_title {
            font-size: 20px;
        }
        .sub_title {
            font-size: 15px;
        }
    }