/*light mode*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "Osaka", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
	background: #e6edf2;
}
.title{
	text-shadow: 0px 0px 15px #fc0107;
	text-align: center;
	font-size: 45px;
	padding: 45px;
	font-family: Comic Sans MS;
	background: url("photo/toppage/mainhead.jpg");
	background-size: cover;
	background-position: center;
}
.block1{
	text-shadow: 0px 2px 4px #7f7f7f;
	padding: 15px;
	font-size: 25px;
	text-align: center;
	background-color: #d4e2eb;
	color: #333;
	box-shadow: 0px 0px 5px #555555;
}
.block2{
	padding: 15px;
	font-size: 30px;
	text-align: center;
	color: #333;
}

.copyright{
	padding: 15px;
	font-size: 20px;
	text-align: center;
	color: #333333;
	background-color: #d4e2eb;
	box-shadow: 0px 0px 5px #555555;
}

a:link{
	color: #000000;
	text-decoration: none;
	}
a:visited{
	color: #000000;
	text-decoration: none;
	}
a:hover{
	color: #333333;;
	text-decoration: none;
	}
a:active{
	color: #666666;
	text-decoration: none;
}
/*light mode*/

/*dark mode*/
@media(prefers-color-scheme: dark) {
  *{
		margin: 0;
		padding: 0;
	}
	body{
		font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "Osaka", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
		background-color: #252525;
	}
	.title{
		text-shadow: 0px 0px 15px #fc0107;
		text-align: center;
		font-size: 45px;
		padding: 45px;
		font-family: Comic Sans MS; /*"photo/mainhead.jpg"*/
		background: /*linear-gradient( to top, #20ffff55, #0c6cff55,#20ffff55),*/
  url("photo/toppage/mainhead.jpg");
		background-size: cover;
		background-position: center;
	}
	.block1{
		text-shadow: 0px 0px 15px #fd8008;
		padding: 15px;
		font-size: 25px;
		text-align: center;
		color: #e6e6e6;
		background-color: #333333;
	}
	.block2{
		padding: 15px;
		font-size: 30px;
		text-align: center;
		color: #e6e6e6;
		background-color: #252525;
	}

	.copyright{
		padding: 15px;
		font-size: 20px;
		text-align: center;
		color: #e6e6e6;
		background-color: #333333;
	}

	a:link{
		color: #ffffff;
		text-decoration: none;
		}
	a:visited{
		color: #ffffff;
		text-decoration: none;
		}
	a:hover{
		color: #b3b3b3;
		text-decoration: none;
		}
	a:active{
		color: #191919;
		text-decoration: none;
	}
}
/*dark mode*/

@media screen and (max-width: 485px) { /*ウィンドウ幅が最大485pxまでの場合に適用*/
		.title{
				font-size: 35px;
				padding: 30px;
		}
		.block1{
				font-size: 18px;
		}
		.block2{
				font-size: 20px;
		}
}
