details {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px;
		color: #fff;
    text-align: center;
    font-size: 25px;
    overflow-y: auto;
    margin: 10px;
}

summary {
    font-weight: bold;
    padding: 2px;
}
