* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "Osaka", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
    background: #fff;
    width: 100%;
}

.site-header {
    background: rgba(255, 255, 255, 0.65);
    display: flex;
    padding: 15px 15px;
    position: fixed;
    justify-content: space-between;
    transition: .5s;
    width: 100%;
    z-index: 99;
    box-sizing: border-box;
    align-items: center;
}

.site-header.transform {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 15px;
}

.site-logo img {
    height: 50px;
    width: auto;
}

.gnav__menu {
    display: flex;
}

.gnav__menu__item {
    margin-left: 20px;
}

.gnav__menu__item a {
    color: #000;
    text-decoration: none;
}

nav ul {
    list-style: none;
}

.sw {
    overflow: hidden;
    display: flex;
    justify-content: center;
    max-height: 100vw;
}

.sw img {
    height: 100vh;
}

.content {
    line-height: 1.6;
    width: 100%;
    word-break: break-all;
    display: flex;
    justify-content: space-evenly;
}

.site-footer {
    background: #333;
    padding: 20px;
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ham-site-logo {
    padding-top: 40px;
    padding-left: 20px;
    transition: .5s;
}


/*.ham__menu li {
    border-bottom: 1px solid rgb(140, 140, 140);
}*/

.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

h1,
img {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.footer__nav a:link,
.ham__menu a:link {
    color: #ffffff;
    text-decoration: none;
}

.footer__nav a:visited,
.ham__menu a:visited {
    color: #ffffff;
    text-decoration: none;
}

.footer__nav a:hover,
.ham__menu a:hover {
    color: #b3b3b3;
    text-decoration: none;
}

.footer__nav a:active,
.ham__menu a:active {
    color: #191919;
    text-decoration: none;
}

.active {
    border-bottom: 1px solid #ababab;
}

@media (min-width: 830px) {
    /* 横幅が800px以上の場合に適用するスタイル */
    .ham {
        display: none;
    }
}

@media (max-width: 1045px) {
    .footer__nav {
        display: block;
    }
}

@media (max-width: 829px) {
    /* 横幅が800px以下の場合に適用するスタイル */
    .sw {
        display: flex;
        justify-content: center;
        max-height: 100vh;
    }
    .gnav {
        display: none;
    }
    .site-header {
        justify-content: flex-start;
    }
    .site-logo img {
        height: 45px;
        width: auto;
    }
    /*.sw {
        padding-top: 111px;
    }*/
    .footer__menu {
        margin-left: 0;
        padding-top: 1em;
        width: 100%;
        flex-direction: column;
    }
}