/* チェックボックスは非表示に */

.ham-hidden {
    display: none;
}


/* ハンバーガーアイコンの設置スペース */

.ham-open {
    display: flex;
    height: 50px;
    width: 50px;
    right: 8px;
    top: 15px;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 102;
    /*重なりを一番上*/
    cursor: pointer;
    transition: .5s;
}

.ham-open.transform {
    top: 10px;
    transition: .5s;
}


/* ハンバーガーメニューのアイコン */

.ham-open span,
.ham-open span:before,
.ham-open span:after {
    content: '';
    display: block;
    height: 2px;
    width: 30px;
    border-radius: 3px;
    background: #000;
    /*線の色*/
    transition: .5s;
    position: absolute;
}


/* 一番上の棒の位置 */

.ham-open span:before {
    bottom: 8px;
}


/* 一番下の棒の位置 */

.ham-open span:after {
    top: 8px;
}


/* 真ん中線の透明処理 */

#ham-check:checked~.ham-open span {
    background: rgba(255, 255, 255, 0);
}


/* 上下の線を回転 */

#ham-check:checked~.ham-open span::after {
    top: 0;
    transform: rotate(-45deg);
}

#ham-check:checked~.ham-open span::before {
    bottom: 0;
    transform: rotate(45deg);
}


/*　ハンバーガーメニューのデザイン　*/

.ham-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 100%;
    opacity: 0%;
    z-index: 101;
    background: #eee;
    overflow-y: auto;
    margin-top: 80px;
    transition: 0.5s;
}

.ham-content.transform {
    margin-top: 70px;
}

.ham-content ul {
    list-style: none;
}

.ham-content ul li {
    font-size: 25px;
    padding: 15px 20px;
}

.ham-content ul li a {
    text-decoration: none;
}

.ham-list {
    text-align: center;
}


/* アイコンがクリックされたらメニューを表示  透明度変化*/

#ham-check:checked~.ham-content {
    left: 0;
    opacity: 1;
}

.ham__menu a:link {
    color: #444;
    text-decoration: none;
}

.ham__menu a:visited {
    color: #444;
    text-decoration: none;
}

.ham__menu li {
    border-bottom: solid 1px #ccc;
}

.ham__menu .now {
    border-left: solid 5px #ffab52;
    padding: 15px;
}


/*.ham__menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ham-content {
    padding: 4em;
}*/


/*@media(prefers-color-scheme: dark) {
  .ham-open span,
  .ham-open span:before,
  .ham-open span:after {
    background: rgb(0, 0, 0);
  }
  .ham-content{
    background: #000;
  }
  .ham-content ul li{
    border-top: 1px solid rgb(0, 0, 0);
  }
}