/*ハンバーグメニュー*/

nav {
    text-align: center;
    display: block;
    position: fixed;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all 1.0s;
    z-index: 3;
    opacity: 0;
}

.open nav {
    left: 0;
    opacity: 1;
}

nav .inner {
    padding: 15px;
}

nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .inner ul li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #fff;
    /*区切り線*/
}

nav .inner ul li a {
    display: block;
    color: #fff;
    font-size: 20px;
    padding: 1.5em;
    text-decoration: none;
    transition-duration: 0.4s;
}

nav .inner ul li a:hover {
    background: #80808099;
}

.inner p {
    font-size: 25px;
    text-shadow: 0px 0px 15px #00fffd;
    color: #ffffff;
    padding: 25px;
}

@media screen and (max-width: 830px) {
    nav {
        right: 100%;
        width: 100%;
    }
}


/*============
	.toggle_btn
	=============*/

.toggle_btn {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 3;
}

.toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #fff;
    /*３本線いろ*/
    border-radius: 4px;
    transition: all .4s;
}

.toggle_btn span:nth-child(1) {
    top: 4px;
}

.toggle_btn span:nth-child(2) {
    top: 14px;
}

.toggle_btn span:nth-child(3) {
    bottom: 4px;
}

.open .toggle_btn span {
    background-color: #fff;
}

.open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
}

.open .toggle_btn span:nth-child(2) {
    opacity: 0;
}

.open .toggle_btn span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
}


/*============
	#mask
	=============*/

#mask {
    display: none;
    transition: all .5s;
}

.open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .9;
    z-index: 2;
    cursor: pointer;
}