    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "Osaka", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
        background: #f0f0f0;
        width: 100%;
    }
    
    .site-header {
        background: #f0f0f0cc;
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        height: 80px;
        padding: 10px;
        z-index: 99;
        transition: .5s;
        box-sizing: border-box;
        align-items: center;
    }
    
    .site-header.transform {
        background: #f0f0f0f2;
    }
    
    .site-logo img {
        height: 50px;
        width: auto;
    }
    
    .gnav__menu {
        display: flex;
    }
    
    .gnav__menu__item {
        margin-left: 20px;
    }
    
    .gnav__menu__item a {
        color: #444;
        text-decoration: none;
        transition: 0.4s;
    }
    
    .gnav__menu__item a:hover {
        color: #686868;
    }
    
    nav ul {
        list-style: none;
    }
    
    body.dontmove {
        overflow: hidden;
    }
    /*.sw {
        overflow: hidden;
        display: flex;
        justify-content: center;
        height: 70vh;
    }
    
    .sw img {
        height: 90vh;
        object-fit: cover;
    }*/
    
    .slider {
        width: 1000px;
        height: 460px;
        border-radius: 10px;
    }
    
    .top_title {
        color: #444;
        text-align: center;
        padding-top: 86px;
        font-size: 40px;
    }
    /*.text {
        position: absolute;
        top: 85%;
        width: 100%;
        text-align: center;
        color: #f0f0f0;
        text-shadow: 2px 1px 0px #444;
        font-size: 40px;
    }*/
    
    .content {
        overflow: hidden;
        color: #444;
        padding: 10px 5px;
        line-height: 1.6;
        word-break: break-all;
    }
    
    .download {
        text-align: center;
        padding: 25px 0;
    }
    
    .title {
        font-size: 30px;
        text-align: center;
        padding: 10px 0;
    }
    
    .dl {
        font-size: 25px;
    }
    
    .site-footer {
        background: #444;
        padding: 20px;
    }
    
    .contact {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    
    @media (min-width: 860px) {
        /* 横幅が830px以上の場合に適用するスタイル */
        .sp {
            display: none;
        }
    }
    
    @media (max-width: 859px) {
        /* 横幅が829px以下の場合に適用するスタイル */
        /*.sw {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
        }
        .sw img {
            height: 50vh;
            width: 10000%;
        }*/
        .gnav {
            display: none;
        }
        .site-header {
            justify-content: flex-start;
        }
        .site-logo img {
            margin-top: 6px;
            height: 45px;
            width: auto;
        }
        .top_title {
            font-size: 25px;
        }
        /*.text {
            font-size: 20px;
        }
        .slider [class^="swiper-button-"]::after {
            font-size: 30px;
        }*/
        .slider {
            width: 360px;
            height: 160px;
            border-radius: 5px;
        }
        .title {
            font-size: 20px;
        }
        .dl {
            font-size: 20px;
        }
        .footer__menu {
            margin-left: 0;
            padding-top: 1em;
            width: 100%;
            flex-direction: column;
        }
    }